body {
	background-color:#EEEEEE;

}


.big-buttons{
	margin-top:150px;


}

.big-buttons h3{
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size:2em;
	font-weight:300;
	margin-top:20px;
}
.content {
	background-color:#EEEEEE;

	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.navbar-brand{
	/*color: #F44336;*/


	color: rgba(0,0,255,0.5);
	/*	color: rgba(13,71,161,0.5);*/
	font-family: 'Open Sans', sans-serif !important;
	font-weight:700;
	font-size:3.3em;
	margin-top:10px;
	margin-bottom:10px;
	text-shadow:none;
	/*text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.2);*/
}

.navbar-brand:after {

	content: "insighted";


	margin-left:-212px;

	color: rgba(255,0,0,0.5);

}

.navbar-brand:hover{

	color: rgba(0,0,255,0.5);

	/*text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 2px 2px 0px rgba(0,0,0,0.2);*/
	/*text-shadow: -1px -1px 0px rgba(255,255,255,0.1), 1px 1px 0px rgba(0,0,0,0.1);*/
}


.navbar-brand:hover::after{
	margin-left:-210px;
}

.how-banner{
	position:absolute;
	margin-top: 740px;
	left:0px;
	width:100%;
	background-color:#29B6F6;

	padding-top:10px;

}
.how-banner button{
	background:#EF5350;
	border: 5px solid #D32F2F;
	color: white;
	font-family:'Raleway', sans-serif;
	font-size:1em;
	font-weight:400;
	text-align:center;
	padding:10px;
	margin-top:15px;
	margin-bottom: 75px;
	margin-left:20px;


}

.how-banner h2{
	color: #FAFAFA;
	font-family: 'Raleway', sans-serif;
	font-size:3.6em;
	font-weight:400;
	margin-top:10px;
	margin-bottom:60px;

}
.how-banner h3{
	color: #FAFAFA;
	font-family: 'Raleway', sans-serif;
	font-size:1.9em;
	font-weight:400;
	text-align:center;
	margin-bottom:20px;
}
.how-banner p{
	color: #212121;
	font-family: 'Raleway', sans-serif;
	font-size:1.4em;
	font-weight:300;
	margin-left: 20px;
	margin-right:20px;

}



.details-banner{
	position:absolute;
	margin-top: 1510px;
	left:0px;
	width:100%;
	background-color:#F44336;

	padding-top:10px;

}

.details-banner h2{
	color: #FAFAFA;
	font-family: 'Raleway', sans-serif;
	font-size:5em;
	font-weight:400;
	margin-top:10px;
	margin-bottom:80px;

}

.details-banner h3{
	color: #FAFAFA;
	font-family: 'Raleway', sans-serif;
	font-size:3em;
	font-weight:400;
	margin-top:10px;
	margin-bottom:30px;

}

.details-banner p{
	color: #212121;
	font-family: 'Raleway', sans-serif;
	font-size:2em;
	font-weight:300;
	margin-left: 40px;
	margin-right:50px;
	margin-bottom:20px;


}

.details-banner p.qoute{
	color: #212121;
	font-family: 'Raleway', sans-serif;
	font-size:1.6em;
	font-weight:300;
	margin-left: 40px;
	margin-right:50px;
	margin-bottom:20px;
	background-color:rgba(255, 255, 255, 0.17);
	padding:20px;

}

.details-banner p.qoute:after{
	color:#FAFAFA;
	font-size:.7em;
	content:"Follow Bob's journey through Insighted in the other steps.";
}
.carousel-control.left{
	background-image:none !important;
}
.carousel-control.right{
	background-image:none !important;
}
.orange-button{
	background-color:#FFB74D;

	background-color:#2196f3;
	width:320px;
	height:320px;
	border-radius:320px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	border:10px solid rgba(33,150,243,0.6);


	-webkit-transition: border 0.3s; /* For Safari 3.1 to 6.0 */
	transition: border 0.3s;
}
.orange-button:hover {
	border:0px solid rgba(33,150,243,0.5);
}

.blue-button{
	background-color:#f44336;
	width:320px;
	height:320px;
	border-radius:320px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

	border:10px solid rgba(244,67,54, 0.6) ;

	-webkit-transition: border 0.3s; /* For Safari 3.1 to 6.0 */
	transition: border 0.3s;
}
.blue-button:hover {
	border:0px solid rgba(244,67,54, 0.5);
}

.banner{
	position: absolute;
	margin-top:-40px;
	left:0px;
	width: 100%;
		background-color:#EEEEEE;
	padding-top:10px;
	padding-bottom:20px;
	z-index:-1;


}

.banner h1{
	color: #212121;
	font-family: 'Open Sans', sans-serif;
	font-size:5em;
	font-weight:400;
	margin-bottom:10px;
}

.banner h2{
	color: #212121;
	font-family: 'Raleway', sans-serif;
	font-size:2.5em;
	font-weight:200;
	margin-top:40px;
}
.banner a:hover{
	color:#212121;
	text-decoration:underline;


}
.banner a{
	color:#212121;
}

.navbar{
/*	background-color:#FAFAFA;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.2);*/

}
.navbar-nav-main a{
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	font-size:2.2em;
	margin-top:22px;
	margin-left:30px;
	color:black;
}
.orange-background{
	position:absolute;
	left:0px;
	background-color:#EEEEEE;
	height:100%;
	width:100%;
	z-index:-100;
}

.navbar-right{
	margin-top:20px;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	font-size:1.6em;
}

.navbar-right a{
	color:black;
}


.sign-in {

}

.sign-in h1{
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size:5em;
	font-weight:300;
	margin-bottom:10px;

}
