@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,700,400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

.cust-list-profile{
  padding-top: 10px;
  font-size:175px;
}
.hello {


}
.small-tab-first {
  background:#FFF;
  height:30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-left:15px;
}

.small-tab{
  background:#F5f5f5;
  height:30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-left:20px;
}
.small-tab h3{
  font-family: 'Raleway', sans-serif;
  color:#555;
  font-size:17px !important;
  margin-top:4px !important;
  margin-left: -10px !important;

}



.big-tab{
  background:#F5f5f5;
  height:50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-left:20px;
  margin-bottom:0px !important;
  z-index:0;
}
.big-tab h3{
  font-family: 'Raleway', sans-serif;
  color:#555;
  font-size:25px !important;
  margin-top:4px !important;
  margin-left: -5px !important;

}

.project-prev-name-desc{

}
.view-projects-container{
  padding-top:0;

}
.create-button-card{
  margin-top:0;
}
.create-button-card a:hover{
  border:0 !important;
}
.create-button-card i{
  color:#CCCCCC;
  margin-top:50px;
  font-size:10em;
}

.create-button-card i:hover{
  color:#C1c1c1;
}

.create-button-card h1{
  font-family: 'Raleway', sans-serif;
  color:#CCCCCC;
  margin-top:100px;
  font-size:1.5em;
}
.create-button-card h1:hover{
  border:none !important;
  color:#CCCCCC;
}

.projects-list-header h1{
  font-size:4.2em;
  font-family: 'Open Sans', sans-serif;
  color:#202020;
  margin-top:30px;
  margin-bottom:30px;
  margin-left:20px;

}

.card {
  padding-top: 20px;
  padding-bottom:20px;



}

.card h1 {
  font-size:20px;
  font-weight:400;
  font-family: 'Open Sans', sans-serif;
  color:#202020;
  margin-top:5px;
  margin-bottom:5px;
}

.card h2 {
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  margin-top: 2px;
}

.card h3 {
  font-family: 'Raleway', sans-serif;
  margin-top:25px;
  font-size: 24px;
  font-weight:500;
  padding-left:10px;
}

.featured-project-img-row{
  padding-top:15px;
}

.featured-project-img-col{
  padding-left: 0px;
  padding-right:0px;
}

.featured-project-img-col img{
  width:400px;
  height:160px;
}

.featured-insight-text-row{
  padding-top:15px;
}

.featured-insight-text-col{

  height:200px;

  padding-left: 0px;
  padding-right:0px;
}

.featured-insight-text-col p{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size:1.6em;
  font-weight:400;
  text-align:center;
  margin-top:25px;

}

.featured-insight-text-col h2{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size:2.8em;
  font-weight:400;
  text-align:center;
  margin-top:50px;

}

.featured-insight-text-col h1{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size:2.5em;
  font-weight:400;
  text-align:center;
  margin-top:75px;

}

.featured-color-green {

  background-color:#4caf50;
}
.featured-color-blue {

  background-color:#2196f3;
}
.featured-color-red {

  background-color:#f44336;
}
.featured-color-yellow {

  background-color:#ffeb3b;
}


.card-content{
  padding:15px;
  padding-bottom:0px;
  border:0px;
  background-color: #FAFAFA;
  border-radius:0 !important;


  /*box-shadow:12px 18px #EEEEEE, 8px 12px #EEEEEE, 4px 6px #EEEEEE, 1px 2px #EEEEEE,2px 3px #EEEEEE ,3px 4px #EEEEEE;*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
/*  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

/*.card-content::after {
  content: '';
  width: 350px;
  height:25px;
  position:absolute;
  bottom:-25px;
  left:0;
  background-color: #BDBDBD;
  -webkit-transform:skew(35deg);
  -webkit-transform-origin:top;

  -moz-transform:skew(35deg);
  -moz-transform-origin:top;

  -ms-transform:skew(35deg);
  -ms-transform-origin:top;

  -o-transform:skew(35deg);
  -o-transform-origin:top;

  transform:skew(35deg);
  transform-origin:top;
}
.card-content::before {
  content: '';
  width: 18px;
  height: 456px;
  position: absolute;
  top: 12px;
  right: -18px;
  background-color:  #E0E0E0;
  -webkit-transform: skewY(55deg);
  -webkit-transform-origin: top;

  -moz-transform: skewY(55deg);
  -moz-transform-origin: top;

  -ms-transform: skewY(55deg);
  -ms-transform-origin: top;

  -o-transform: skewY(55deg);
  -o-transform-origin: top;

  transform: skewY(55deg);
  transform-origin: top;
}
*/
.profile-circle-card {
  height:70px;
  width:70px;

  margin-left:15px;
  margin-right:10px;
  border-radius:100px;

}

.profile-circle-card h2{
  text-align:center;
  color:#fafafa;
  font-size:2.7em;
  margin-top:12px;

}
.background-green {

  background-color:#4caf50;
}

.background-blue {

  background-color:#2196f3;
}

.background-red {

  background-color:#f44336;
}

.background-yellow {

  background-color:#ffeb3b;
}


.list-projects-banner{

  position:absolute;
  margin-top: -50px;
  left:0px;
  width:100%;
  background-color:#f44336;

  padding-top:0;
}
.list-projects-banner h1{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size:24px;
  color:white;
}
.list-projects-banner h2{
  color:white;
  font-family: 'Raleway', serif;
  font-weight:200;
  font-size:20px;
  padding-bottom:15px;
}



/*

The create project form.

*/
.submit-project-button{
  margin-right:auto;
  margin-left:50%;

  background:rgba(244,67,54,1);
  border: 5px solid rgba(0,0,0,0.1);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

  margin-top:55px;


  padding:10px;

  font-family: 'Raleway', sans-serif;
  font-size:2em;
  color:white;
  font-weight:400;



border-radius:0;



}


.cancel-project-button{
  background-color: #FF5252;

  margin-top:55px;

  height:60px;
  padding-left:20px;
  padding-right:20px;

  font-family: 'Open Sans', sans-serif;
  color:#202020;
  font-weight:500;
  font-size:30px;

  border:0px;

  border-radius:1px;

}


.create-text-area{
  margin-top:70px;

  font-family: 'Raleway', serif;
  color:#202020;
  font-weight:500;
  font-size:40px;


  background-color : #EEEEEE;

  border-bottom: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius:0px;

  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);

}

input[type="text"].create-text-field, textarea {

  margin-top: 50px;

  background-color : #EEEEEE;
  border-bottom:0;
  border-top: 0;
  border-left: 0;
  border-right: 0;

  font-size:40px;
  height: 75px;
  font-family: 'Raleway', serif;
  color:#212121;
  font-weight:500;

  border-radius:0px;

  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);

}

.create-project-card {
  margin-top: 55px;
}

.create-project-card h1 {

  font-size:70px;
  font-family: 'Open Sans', sans-serif;
  color:#202020;
  margin-top:30px;
  margin-bottom:5px;

}

.color-controls{
  margin-top: 50px;
  margin-bottom:50px;
}

.color-controls h2{
  font-size:45px;
  font-family: 'Raleway', serif;
  font-weight:500;
  color:#212121;
  margin-top:15px;
  margin-bottom:15px;
  margin-left: 15px;
}

.color-controls input[type="radio"]{


  display:none;


  /*background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));*/

}

.color-controls input[type="radio"] + label {
  margin-top:25px;
  display:block;
  width:100px;
  height:100px;

  border-radius:100px;


  cursor:pointer;
}

.color-controls input[type="radio"].red + label {


  background-color:#F44336;

}
.color-controls input[type="radio"].green + label {


  background-color:#4CAF50;

}

.color-controls input[type="radio"].blue + label {

  background-color:#2196F3;
}

.color-controls input[type="radio"].yellow + label {


  background-color:#FFEB3B;

}

.color-controls input[type="radio"]:checked + label {
  outline:5px solid #212121;
}


/*

The view project.

*/

.view-projects-banner{

  z-index:10;
  position:absolute;
  margin-top: -20px;
  left:0px;
  width:100%;


  padding-top:0;
}
.view-projects-banner h1{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size:24px;
  color:white;
  margin-top:10px;
  margin-bottom:10px;
}
.view-projects-banner h2{
  color:white;
  font-family: 'Raleway', serif;
  font-weight:200;
  font-size:20px;
  padding-bottom:20px;
}


.view-projects-banner a{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;

  color:white;
}
.view-project-card {

  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  background:none;
  padding-top:20px;
  padding: 0;

}

.view-project-card h3{
  margin-top:40px;
  font-size:35px;
  font-weight:500;
}

.project-view-title h1 {
  font-size:60px;
  font-family: 'Open Sans', sans-serif;
  color:#202020;
  margin-top:20px;
  margin-bottom:5px;

}

.divider{
  margin-right:5px;
  margin-left:5px;
  margin-top: 60px;
  margin-bottom: 20px;
  border-bottom: 10px solid #FFFFFF;
}


.project-view-title h2 {
  font-family: 'Open Sans', sans-serif;
  font-size:25px;
  margin-top: 10px;
  color: #606060;
  margin-left:5px;
  margin-bottom:20px;

}

.profile-circle-view {
  margin-top:20px;
  padding-left:30px;
}
.task-head{

  margin-left:50px;

  font-size:45px;
  font-family: 'Open Sans', sans-serif;
  font-weight:500;
  color:#202020;
}

.task-prev {
  margin-top:25px;
  margin-left:45px;
  margin-right:25px;
  padding-top:0px;


}

.top-task-prev{
  background-color:green;
  color:white;
  height:85px;
}

.top-task-prev:hover{
  cursor:pointer;
}

.top-task-prev h2{
  font-size:2.7em;
}

.text-top-color {
    background: #4caf50;
}

.sound-top-color {
  background-color:#F44336;
}
.image-top-color {
  background-color:#FFEB3B;
}

.task-preview-project {
  background-color:#FFFFFF;
  margin-top:0px;
  margin-left: 40px;
  margin-right: 40px;
}


.task-preview-project h1 {
  font-size:1em !important;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#202020;
  margin-top:30px;
  margin-left:20px;
  margin-bottom:30px;
}
.small-type-icon {
  color:#FAFAFA;
  font-size:50px;
  margin-top:15px;
  margin-bottom:25px;
  margin-left:2px;
  margin-right:25px;
}
.image-type-circle{
  background-color:#FFEB3B;

  margin-top:15px;
  height:75px;
  width:75px;
  border-radius: 75px;
  content:'image type';
}

.sound-type-circle{
  background-color:#F44336;

  margin-top:15px;
  height:75px;
  width:75px;
  border-radius: 75px;
  content:'image type';
}

.text-type-circle{
  background-color:#4CAF50;

  margin-top:15px;
  height:75px;
  width:75px;
  border-radius: 75px;
  content:'image type';
}

.task-insight-count{
  background:#fafafa;
  border-radius:100%;
  height:65px;
  width:65px;
  margin-top:10px;
  margin-left:10px;
}

.task-insight-count h3{
  text-align:center;
  margin-top:10px;
  font-size:3em;
}

.image-color h3{
  color:#ffeb4b;
}

.sound-color h3{
  color:#f44336;
}

.text-color h3{
  color:#4caf50;
}

.task-options button{
  background:#EF5350;
  border: 5px solid #D32F2F;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size:1.4em;
  font-weight:400;
  text-align:center;
  padding:10px;
  margin-top:15px;
  margin-bottom: 75px;
  margin-left:45px;

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

  -webkit-transition: border 0.3s; /* For Safari 3.1 to 6.0 */
  transition: border 0.3s;
}
.task-options button:hover {
  border:5px solid #EF5350;
}

.project-controls{

}

.project-controls button{
  background:rgba(0,0,0,0.1);
  border: 5px solid rgba(0,0,0,0.2);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size:1.3em;
  font-weight:400;
  text-align:center;
  padding:10pxddi;
  margin-top:15px;
  margin-bottom: 20px;
  margin-left:45px;

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

  -webkit-transition: border 0.3s; /* For Safari 3.1 to 6.0 */
  transition: border 0.3s;
}

.sample-show-hide{
  height:150px;
}

.sample-show-hide {
  -webkit-transition:height 0.3s, opacity 0.2s;
  transition:height 0.3s, opacity 0.2s;
}

.sample-show-hide.ng-hide{

  height:0;
}

.insight-num-circle{
  font-family: 'Raleway', sans-serif;
  color:#FAFAFA;
  background:#2196f3 ;
  border-radius:100%;
 height:75px;
 width:75px;
 margin-left:-10px;
 padding:17px;
 margin-top:15px;
 font-size:2.7em;

}

.project-view-desc h3{
  font-family: 'Raleway', serif;
  margin-top:20px;
  margin-right:0;
  margin-left:10px;
  font-size:16px;
  color:#212121;
}

.project-view-desc h1{
  font-family: 'Open Sans', sans-serif;
  margin-top:20px;
  margin-right:0;
  margin-left:10px;
  font-size:24px;
  color:#212121;
}

.insight-prev-box{


  border: solid #EEEEEE 8px;
  border-left: solid #EEEEEE   8px;
  border-right: solid #EEEEEE   8px;
  background-color:#fafafa;
  height:140px;

}

.insight-prev-box h2{
  font-family: 'Raleway', serif;
  margin:20px;
  font-size:20px;
}
.insight-prev-box h3{
  font-family: 'Raleway', serif;
  font-size:20px;
  color:#fafafa;
  margin-top:20px;
}

.insight-prev-box h4{
  font-family: 'Raleway', serif;
  font-size:15px;
  color:#fafafa;
}
.insight-prev-creator{
  display:none;
}

.insight-prev-text{

}

.top-border-text{
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #4caf50 50%, #fafafa 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
  background-position: 8% 92%;


  border: solid #EEEEEE 15px;
  border-left: solid #EEEEEE   8px;
  border-right: solid #EEEEEE   8px;


}

.top-border-text:hover {
  background-position: 100% 0%;
}

.top-border-text:hover .insight-prev-creator{
  display:block;
}

.top-border-text:hover .insight-prev-text{
  display:none;
}

.top-border-image{
  border: solid #EEEEEE   15px;
  border-left: solid #EEEEEE   8px;
  border-right: solid #EEEEEE   8px;
  -webkit-box-shadow:0 10px #FAFAFA inset,0 -13px #ffeb3b inset, -10px 0 #FAFAFA inset,
  10px 0 #FAFAFA inset;
  -moz-box-shadow:0 10px #FAFAFA inset,0 -13px #ffeb3b inset, -10px 0 #FAFAFA inset,
  10px 0 #FAFAFA inset;
  box-shadow:0 10px #FAFAFA inset,0 -13px #ffeb3b inset, -10px 0 #FAFAFA inset,
  10px 0 #FAFAFA inset;
}

.top-border-sound{
  border: solid #EEEEEE 15px;
  border-left: solid #EEEEEE   8px;
  border-right: solid #EEEEEE   8px;

  -webkit-box-shadow:0 10px #FAFAFA inset,0 -13px #f44336 inset, -10px 0 #FAFAFA inset,
  10px 0 #FAFAFA inset;
  -moz-box-shadow:0 10px #FAFAFA inset,0 -13px #f44336 inset, -10px 0 #FAFAFA inset,
  10px 0 #FAFAFA inset;
  box-shadow:0 10px #FAFAFA inset,0 -13px #f44336 inset, -10px 0 #FAFAFA inset,
  10px 0 #FAFAFA inset;
}
