<section data-ng-controller="TasksCreateController as taskCtrl">

  <div class="modal-header">
    <h3 class="modal-title"> Create Task </h1>
    </div>

    <div class="modal-body">

      <form name ="createTaskForm">
        <fieldset>

          <div class="form-group">

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="controls">
                  <input type="text" data-ng-model="taskCtrl.name" id="name" class="form-control create-text-field" placeholder="Task name" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="controls">
                  <input type="text" data-ng-model="taskCtrl.purpose" id="purpose" class="form-control create-text-field" placeholder="Task purpose" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1 t">
                <div class="row controls type-controllers ">

                  <h2> Pick a task type </h2>

                  <div class="radio col-md-4 text-center">

                    <input type="radio" id="text" name="typePicker" value="text" data-ng-model="taskCtrl.type" class="text"/>
                    <label for="text"><i class="ion ion-chatbubble-working create-type-icon "></i></label>

                  </div>

                  <div class="radio col-md-4 text-center">
                    <input type="radio" id="image" name="typePicker" value="image" data-ng-model="taskCtrl.type" class="image"/>
                    <label for="image"><i class="ion ion-camera create-type-icon "></i></label>
                  </div>

                  <div class="radio col-md-4 text-center">
                    <input type="radio" id="sound" name="typePicker" value="sound" data-ng-model="taskCtrl.type" class="sound"/>
                    <label for="sound"><i class="ion ion-mic-a create-type-icon "></i></label>
                  </div>



                </div>
              </div>
            </div>




          </div>

        </fieldset>
      </form>
    </div>

    <div class="modal-footer">
      <button class="btn submit-task-button" ng-click="taskCtrl.create(); ok()">CREATE</button>
      <button class="btn cancel-task-button" ng-click="cancel()">CANCEL</button>
    </div>
  </section>
  
