<section data-ng-controller="TasksCreateController as taskCtrl">

  <div class="modal-header">
    <h3 class="modal-title"> New Task </h1>
    </div>

    <div class="modal-body">

      <form name ="createTaskForm">
        <fieldset>

          <div class="form-group">

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="controls">
                  <input type="text" data-ng-model="taskCtrl.name" id="name" class="form-control" placeholder="Task name" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="controls">
                  <input type="text" data-ng-model="taskCtrl.purpose" id="purpose" class="form-control" placeholder="Task purpose" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row controls type-controls">

                  <h1> Pick a task type </h1>

                  <div class="radio col-md-4">

                    <input type="radio" id="text" name="typePicker" value="text" data-ng-model="taskCtrl.type" class="text"/>
                    <label for="text"><i class="glyphicon glyphicon-pencil create-type-icon "></i></label>

                  </div>

                  <div class="radio col-md-4">
                    <input type="radio" id="image" name="typePicker" value="image" data-ng-model="taskCtrl.type" class="image"/>
                    <label for="image"><i class="glyphicon glyphicon-camera create-type-icon "></i></label>
                  </div>

                  <div class="radio col-md-4">
                    <input type="radio" id="sound" name="typePicker" value="sound" data-ng-model="taskCtrl.type" class="sound"/>
                    <label for="sound"><i class="glyphicon glyphicon-headphones create-type-icon "></i></label>
                  </div>



                </div>
              </div>
            </div>




          </div>

        </fieldset>
      </form>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success btn-lg" ng-click="taskCtrl.create(); ok()">Save & close</button>
      <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
    </div>
  </section>
