


<section data-ng-controller="TasksController" data-ng-init="findOne()">


</br>
<div class="row insight-list-title">
	<div class="col-md-7">
		<p>INSIGHTS</p>
	</div>
</div>

<!--		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == task.user._id))">
<a class="btn btn-primary" href="/#!/tasks/{{task._id}}/edit">
<i class="glyphicon glyphicon-edit"></i>
</a>
<a class="btn btn-primary" data-ng-click="remove();">
<i class="glyphicon glyphicon-trash"></i>
</a>
</div>
-->

<!-- TEXT task start -->
<div ng-if="task.type == 'text'" class="col-md-7">



	<section  data-ng-controller="InsightsController" data-ng-init="find()" >



		<div data-ng-repeat="insight in insights | filter:{ taskid: $root.passedTaskId }" >
<div  ng-if="insight.text.length > 7" class="task-viewer-insight col-md-12 card-content insight-border-{{task.type}}">
			<div class="row text-center">
				<p  ng-if="insight.text.length > 40">
					"{{insight.text}}"

				</p>

				<h4  ng-if="insight.text.length < 40">
					{{insight.text}}

				</h4>
				<h5>{{insight.user.displayName}}

					</h5>
					<h6 data-ng-bind="insight.created | date:'medium'"></h6>

			</div>
		<!--	<div class="row">

				<h3>-{{insight.user.displayName}}</h3>
				<h2 data-ng-bind="insight.created | date:'medium'"></h2>


			</div> -->

</div>

<div  ng-if="insight.text.length < 7" class="task-viewer-insight col-md-6 card-content insight-border-{{task.type}}">
	<div class="row text-center">
		<h4>
			{{insight.text}}
		</h4>
		<h5>{{insight.user.displayName}}

		</h5>
		<h6 data-ng-bind="insight.created | date:'medium'"></h6>
	</div>
	<!--	<div class="row">

	<h3>-{{insight.user.displayName}}</h3>
	<h2 data-ng-bind="insight.created | date:'medium'"></h2>


</div> -->

</div>

		</div>



		<div data-ng-repeat="insight in insights | filter:{ taskid: $root.passedTaskId }" ng-if="insight.text.length < 7" class="task-viewer-insight col-md-6 card-content insight-border-{{task.type}}">


	</section>

</div>

<!-- TEXT task END -->


<!-- IMAGE task start -->
<div ng-if="task.type == 'image'" class="col-md-7">



	<section  data-ng-controller="InsightsController" data-ng-init="find()" >



		<div data-ng-repeat="insight in insights | filter:{ taskid: $root.passedTaskId }" class="task-viewer-insight col-md-12 card-content insight-border-{{task.type}}">

			<div class="row">
				<img ng-src="http://localhost:3001/upload/{{insight._id}}" class="" />
			</div>




		</div>

	</section>

</div>

<!-- IMAGE task END -->

<div class="col-md-5">
	<div class="row ">
		<div class="col-md-3 text-center">



			<i ng-if="task.type == 'image'" class="ion ion-camera task-box-icon image-icon">
				<h2 ng-if="task.numberinsights != 0" style="background:#98811f">{{task.numberinsights}}</h2>
			</i>
			<i ng-if="task.type == 'sound'" class="ion ion-mic-a task-box-icon sound-icon">
				<h2 ng-if="task.numberinsights != 0" style="background:#922820">{{task.numberinsights}}</h2>
			</i>
			<i ng-if="task.type == 'text'" class="ion ion-chatbubble-working task-box-icon text-icon">
				<h2 ng-if="task.numberinsights != 0" style="background:#2d6930">{{task.numberinsights}}</h2>
			</i>

		</div>
		<div class="project-view-desc col-md-9">
			<h1>{{task.name}} </h1>
			<h3>{{task.purpose}} </h3>
			<h3 data-ng-bind="task.created | date:'short'"> </h3>
		</div>
	</div>
</div>


</section>
