


<section data-ng-controller="TasksController" data-ng-init="findOne()">


</br>
<div class="row insight-list-title">
	<div class="col-md-7">
		<p>INSIGHTS</p>
	</div>
</div>

<!--		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == task.user._id))">
<a class="btn btn-primary" href="/#!/tasks/{{task._id}}/edit">
<i class="glyphicon glyphicon-edit"></i>
</a>
<a class="btn btn-primary" data-ng-click="remove();">
<i class="glyphicon glyphicon-trash"></i>
</a>
</div>
-->

<!-- TEXT task start -->
<section  data-ng-controller="InsightsController" data-ng-init="find()" >
<div ng-if="task.type == 'text'" class="col-md-7">

		<div class="animate" data-ng-repeat="insight in insights | filter:{ taskid: $root.passedTaskId } | filter:myFilter" >

			<div class="col-md-6 insight-container">
				<div class="row">
					<h3>{{insight.user.displayName}}</h3>

				</div>
				<div class="row">

					<h4>@{{insight.city}}</h4>

				</div>
				<div class="row text-center">
					<p>"{{insight.text}}"</p>
				</div>
				<div class="row">
					<h6 data-ng-bind="insight.created | date:'short'"></h6>
				</div>
			</div>
		</div>


	</div>

	<div ng-if="task.type == 'image'" class="col-md-7">

		<div class="animate" data-ng-repeat="insight in insights | filter:{ taskid: $root.passedTaskId } | filter:myFilter" >

			<div class="col-md-12 insight-container">
				<div class="row">
					<h3>{{insight.user.displayName}}</h3>

				</div>
				<div class="row">

					<h4>@{{insight.city}}</h4>
				</div>
				<div class="row text-center">
					<img ng-src="http://localhost:3001/upload/{{insight._id}}" class=" img-responsive" />
				</div>
				<div class="row">
					<h6 data-ng-bind="insight.created | date:'short'"></h6>
				</div>
			</div>
		</div>


	</div>








<!-- TEXT task END -->


<!-- IMAGE task start
<div ng-if="task.type == 'image'" class="col-md-7">



	<section  data-ng-controller="InsightsController" data-ng-init="find()" >



		<div data-ng-repeat="insight in insights | filter:{ taskid: $root.passedTaskId }" class="task-viewer-insight col-md-12 card-content insight-border-{{task.type}}">

			<div class="row">
				<img ng-src="http://localhost:3001/upload/{{insight._id}}" class="" />
			</div>




		</div>

	</section>

</div>

IMAGE task END -->



<div class="col-md-5">

	<div class="row ">
		<div class="col-md-3 text-center">



			<i ng-if="task.type == 'image'" class="ion ion-camera task-box-icon image-icon">
				<h2 ng-if="task.numberinsights != 0" style="background:#98811f">{{task.numberinsights}}</h2>
			</i>
			<i ng-if="task.type == 'sound'" class="ion ion-mic-a task-box-icon sound-icon">
				<h2 ng-if="task.numberinsights != 0" style="background:#922820">{{task.numberinsights}}</h2>
			</i>
			<i ng-if="task.type == 'text'" class="ion ion-chatbubble-working task-box-icon text-icon">
				<h2 ng-if="task.numberinsights != 0" style="background:#2d6930">{{task.numberinsights}}</h2>
			</i>

		</div>
		<div class="project-view-desc col-md-9">
			<h1>{{task.name}} </h1>
			<h3>{{task.purpose}} </h3>
			<h3 data-ng-bind="task.created | date:'short'"> </h3>
			<a ng-href="http://localhost:3001/#!/projects/{{task.project}}">Back to project</a>
		</div>
	</div>

<div class="task-stats">
	<div class="col-md-12">
	<p><i class="ion ion-location"/>LOCATIONS</p>
	<div data-ng-repeat="insight in insights |filter:{ taskid: task._id } | unique: 'city' " >


			<a ng-click="$parent.myFilter={city:'{{insight.city}}'}" > {{insight.city}}</a>


	</div>

		<a ng-click="myFilter=undefined" > All</a>


</div>

<div class="col-md-12">
</br>

	<p><i class="ion ion-person"/>PARTICIPANTS</p>

	<div data-ng-repeat="insight in insights |filter:{ taskid: task._id }| unique: 'user.displayName'" >
		<a> {{ insight.user.displayName }}</a>
	</div>
	<a ng-click="myFilter=undefined" > All</a>
</div>
</div>
</div>





</section>

</section>
