<section data-ng-controller="ProjectsController" data-ng-init="find()">



<!--
  <div class="list-projects-banner">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1> Projects </h1>
        <h2> Browse and create projects here. </h2>

      </div>
    </div>
  </div> -->


  <div class="view-projects-container">

    <div class="list-group">

      <div class="col-xs-6 col-sm-4 card" data-ng-repeat="project in projects">

        <!--  <div class="row">


        <div class="col-sm-4 small-tab">
        <h3>{{project.numbertasks}} tasks</h3>
      </div>



      <div class="col-sm-4 small-tab">
      <h3>{{project.numberinsights}} insights</h3>
    </div>
  </div> -->


  <a  data-ng-href="#!/projects/{{project._id}}" class="list-group-item card-content">



    <div class="row project-prev-name-desc">
      <div class="col-xs-3 profile-circle-card background-{{project.color}}">
        <h2>{{project.numberinsights}}</h2>
      </div>
      <div class="col-xs-8">
        <div class="row"><h1 data-ng-bind="project.name"></h1></div>
        <div class="row"><h2 data-ng-bind="project.desc"></h2></div>


      </div>
    </div>

    <div class="row  featured-insight-text-row" >
      <div class="col-xs-12 featured-insight-text-col featured-color-{{project.color}}" style="overflow:hidden;">
        <div ng-if="project.featuredinsighttype == 'text'">
        <p ng-if="project.featuredtextinsight.length > 40">{{project.featuredtextinsight}}</p>

        <h1 ng-if="project.featuredtextinsight.length < 20 ">{{project.featuredtextinsight}}</h1>

        <p ng-if="project.featuredtextinsight == 'This is a text insight'">Waiting for insights...<p>
      </div>
        <div ng-if="project.featuredinsighttype == 'image'">

          <img ng-src="http://localhost:3001/upload/{{project.featuredimageinsight}}" class="img-responsive"  />
        </div>
      </div>
    </div>
    <!-- Working img thing
    <div class="row  featured-project-img-row" >
    <div class="col-xs-12 featured-project-img-col">
    <img ng-src="https://placeimg.com/400/1{{getRandom()}}/any" class="img-responsive"/>
  </div>
</div>
-->



<!--
<div class="row">
<div class="col-xs-10 col-xs-offset-1">
<h3>{{project.numberinsights}} insights</h3>
</div>
</div>


<div class="row">
<div class="col-xs-10 col-xs-offset-1">
<h3>{{project.participants}} participants</h3>
</div>
</div>


<div class="row">
<div class="col-xs-10 col-xs-offset-1">
<h3>{{project.numbertasks}} tasks</h3>
</div>
</div>


-->



</a>
</div>











<div class="col-xs-6 col-sm-4 card">

<a  data-ng-href="/#!/projects/create" class="list-group-item card-content">



  <div class="row project-prev-name-desc">
    <div class="col-xs-3 profile-circle-card background-grey">
      <h2><i class="ion ion-plus"> </i></h2>
    </div>
    <div class="col-xs-8">
      <div class="row"><h1>New project</h1></div>
      <div class="row"><h2> Create a project here </h2></div>


    </div>
  </div>

  <div class="row  featured-insight-text-row" >
    <div class="col-xs-12 featured-insight-text-col featured-color-grey" style="overflow:hidden;">
      <div ng-if="project.featuredinsighttype == 'text'">
        <p ng-if="project.featuredtextinsight.length > 40">{{project.featuredtextinsight}}</p>

        <h1 ng-if="project.featuredtextinsight.length < 20 ">{{project.featuredtextinsight}}</h1>

        <p ng-if="project.featuredtextinsight == 'This is a text insight'">Waiting for insights...<p>
        </div>
        <div ng-if="project.featuredinsighttype == 'image'">

          <img ng-src="http://localhost:3001/upload/{{project.featuredimageinsight}}" class="img-responsive"  />
        </div>
      </div>
    </div>
  </a>

</div>




</div>

<p ng-show="!projects.length">The projects are the base of insighted. Create one, fill it with tasks for your participants and then send them the url.</p>
</section>
