




<div  data-ng-controller="ProjectsController" data-ng-init="findOne()">






<div class="col-md-12 col-sm-12">

	<section class="project-section card-content view-project-card" >



		<section data-ng-controller="TasksController as tasksCtrl ">




			<div class="col-md-7">
				<task-list>
				</task-list>
			</div>
			<div class="col-md-5 ">
				<div class="row ">
					<div class="col-md-2 text-center">
						<h2 class="insight-num-circle ">{{project.numberinsights}}</h2>
					</div>
					<div class="project-view-desc col-md-10">
						<h1>{{project.name}} </h1>
						<h3>{{project.desc}} </h3>
					</div>
				</div>

				<div class="row">
					<section  data-ng-controller="InsightsController" data-ng-init="find()" >

						<div data-ng-repeat="insight in insights | filter:{ projectid: project._id } |limitTo:2" >


							<div class="col-md-6 text-center insight-prev-box top-border-{{insight.type}}">
								<h2 class="insight-prev-text">"{{insight.text}}"</h2>
								<h3 class="insight-prev-creator">{{insight.user.displayName}}</h3>
								<h4 class="insight-prev-creator">{{insight.created}}</h4>

							</div>



						</div>

					</section>
				</div>

			</div>

			<div class="row task-options">
				<div class="col-md-4">

					<button type="button" ng-click="tasksCtrl.modalCreate('lg')">CREATE A NEW TASK</button>


				</div>
			</div>

		</section>



		<!--	<div class="row project-view-title">

		<div class="col-xs-2 profile-circle-view">
		<img src="modules/projects/img/{{project.color}}.png" class="img-responsive" />
	</div>

	<div class="col-xs-10">
	<div class="row">
	<h1 data-ng-bind="project.name"></h1>
</div>

<div class="row ">
<h2 data-ng-bind="project.desc"></h2>
</div>

</div>
</div> -->




<div class="row">



	<div class="col-xs-4 col-xs-offset-1">

	</div>
</div>


<!--
<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
<i class="glyphicon glyphicon-edit"></i>
</a>
<a class="btn btn-primary" data-ng-click="remove();">
<i class="glyphicon glyphicon-trash"></i>
</a>
</div>


-->








</section>



<script>



	function get_short_url(long_url, login, api_key, func)
	{
		$.getJSON(
		"http://api.bitly.com/v3/shorten?callback=?",
		{
			"format": "json",
			"apiKey": api_key,
			"login": login,
			"longUrl": long_url
		},
		function(response)
		{
			func(response.data.url);
		}
		);
	};

	/*
	Sign up for Bitly account at
	https://bitly.com/a/sign_up

	and upon completion visit
	https://bitly.com/a/your_api_key/
	to get "login" and "api_key" values
	*/
	var login = "o_5kt1oamiig";
	var api_key = "R_f430d06f27c944e58a8764e83d60dfa6";
	var long_url = window.location.href;

	get_short_url(long_url, login, api_key, function(short_url) {
		console.log(short_url);
	});



</script>





</div>


</div>
